#all-tweets {
  border-radius: 4px;
  margin-top: 25px;
}

.tweet {
  background: white;
  border: 1px #aaa solid;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.7;
  transition: 0.6s all ease-in;  
}

.tweet:hover{
  opacity: 1;
  transition: 0.6s all ease-in;
}


.tweet header {
  background: #f3f3f3;
  border-bottom: 1px #a6a4a46c solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 75px;
  padding: 8px;
}

.tweet .avatar {
  border-radius: 8px;
  float: left;
  height: 55px;
  width: 55px;
}

.tweet .fullname {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 70px;
}

.tweet .username {
  color: grey;
  float: right;
  font-size: 1em;
  font-weight: lighter;
}

.tweet .tweet-content {
  padding: 20px;
}

.tweet footer p {
  border-top: 1px #cbc9c9 solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: .7em;
  margin: 0px;
  padding: 15px 10px;
}

.tweet footer .icons {
  float: right;
  padding: 15px 10px;
  display: none;
}
.tweet i {
  color: #45e286;
  cursor: pointer;
  margin-left: 3px;
}

.tweet:hover .icons {
  display: block;
}

.error {
  display: none; 
}
