#nav-bar {
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav-bar .logo {
    width: 75px;
    float: left;
}

#nav-bar .header {
    margin-left: 10px;
    line-height: 2.5em;
    float: left;
    font-size: 2em;
    font-weight: grey;
}

#nav-bar .compose-btn {
    border-radius: 6px;
    border: 1px black solid;
    background: white;
    color: #07b298;
    font-size: 1em;
    float: right;
    margin-top: 15px;
    opacity: 0.9;
    height: 50px;
    width: 85px;
}

#nav-bar .compose-btn:hover,
.compose-btn:active {
    color: black;
    cursor: pointer;
    transition: .3s all ease-in;
    opacity: 1;
}