main {
 border: 2em;
 padding-top: 35px;
 padding-bottom: 50px;
 margin-top: 60px;
}

.new-tweet{
    background:#ececec;
    border: 1px solid #b6b3b3da;
    border-radius: 8px;
    padding: 0 10px 4px 10px;
}


textarea {
width: 100%;
padding: 3%;
font-style: italic;   
}

.new-tweet h2 {
    border-bottom: 1px solid #000000;
}

#counter{
    float: right;
    padding-right: 6px;
    font-size: .8em;
    margin-top: 6px;
}









